<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

</head>

<body style="background-color: rgb(24, 23, 23) ;color: beige;">
    <div>
        <h1 style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 50px;">
            Welcome to Home Page
        </h1>

        <div style="display: flex; justify-content: center; ">
            <form action="/logout" method="post">
                <button type="submit"
                    style="padding: 10px 30px; background-color: mediumturquoise; font-size: 15px;border: 0px black solid; border-radius: 15px; outline: none; cursor: pointer;font-weight: 700;">Logout</button>
            </form>
        </div>
    </div>

</body>

</html>